body {
  width: 100%;
  height: 100%;
  margin: 0;

  > div {
    display: flex;
    flex-direction: row;
  }
}

.menu {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: lightcoral;
}

.content {
  flex-grow: 1;
  height: 100%;
  padding: 16px;
  background-color: aquamarine;
}

.nav-section-block {
  padding-left: 8px;
  padding-right: 4px;
}

pre {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  width: fit-content;
}

.nav-item {
  width: 100%;

  &.link {
    text-decoration: none;
  }

  &.match {
    font-weight: 600;
    text-decoration: underline;
  }
}
